source ~/.vimrc
set scrolloff=5
set incsearch
vnoremap <C-S-k> :action MoveStatementUp<CR>
map Q gq
vnoremap <C-S-j> :action MoveStatementDown<CR>
vnoremap <A-j> :action SelectNextOccurrence<CR>
nnoremap <A-j> :tabp<CR>
nnoremap <A-k> :tabn<CR>
inoremap <A-j> <esc>:tabp<CR>
inoremap <A-k> <esc>:tabn<CR>
map <A-4> :q<CR>
inoremap <A-4> <esc>:q<CR>
map <C-j> jjjjjjjjjj
map <C-k> kkkkkkkkkk
map <C-A-X> <C-a>

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'
vnoremap <C-h> :call EnhanceShiftRight()<CR>
vnoremap <C-l> :call EnhanceShiftLeft()<CR>

function! EnhanceShiftRight()
    let save_start = line("'<")
    let save_end = line("'>")
    normal! V
    '<,'>s/^/ /g
    '<,'>s/^/ /g
    '<,'>s/^/ /g
    '<,'>s/^/ /g
    call setpos('.', [0, save_start, 1, 0])
    execute "normal! V" . save_start . "G" . save_end . "G"
endfunction
function! EnhanceShiftLeft()
    let save_start = line("'<")
    let save_end = line("'>")
    normal! V
    '<,'>s/^ //g
    '<,'>s/^ //g
    '<,'>s/^ //g
    '<,'>s/^ //g
    call setpos('.', [0, save_start, 1, 0])
    execute "normal! V" . save_start . "G" . save_end . "G"
endfunction
