.copied-notification {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
}
@media(min-width: 769px) {
    #portifolio{
        min-height: 100vh;
    }
    :root{
        --font-max:32px;
        --border-site: 4em;
    }
    #more > div{
        display: flex;
        margin-left: 8em;
    }
    #more{
        min-height: 100vh;
        padding-top: 8em;
    }
    #topbar button{
        margin-right: var(--border-site);
        padding: 1em;
        color: white;
        background-color: black;
        border-style: none;
        border-radius: 1em;
        font-weight: bold;
    }
    #portifolio button {
        width: 3em;
        height: 3em;
        background-color: grey;
        border-style: none;
        border-radius: 1em;
        color: #fff;
        font-size: 24px;
    }
    #portifolio div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: #BBB 2px solid;
        height: 50vh;
        padding: 0 30px 0 30px;
    }
    #portifolio > h1{
        margin: var(--border-site) 0 0 5em;
    }
    #portifolio > h4{
        margin: 2em 0 var(--border-site) 8em;
        font-weight: lighter;
        white-space: pre-line;
    }
    #image-list{
        list-style: none;
        padding: 2em 0 2em 0;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        -ms-grid-column-align: center;
    }
    #image-list > li{
        padding: 16px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    #image-list > li > img{
        height: 10em;
        border-radius: 1em;
        border: #DDD 1  px solid;
    }
    #image-list li > a > div > img{
        width: 5em;
    }
    #image-list li > a >div > div > img{
        padding-top: 0.5em;
        height: 2em;
    }
    #image-list li > a >div > div{
        color: white;
        padding-left: 1em;
    }
    #image-list li > a >div{
        background-color: black;
        border-radius: 1em;
        display: flex;
        align-items: center;
        padding: 0 2em 0 2em;
        height: 10em;
        width: 15em;
        margin-left: var(--border-site);
    }
    #botton > div {
        margin: 1em 0 0 1em;
    }
}
@media(max-width: 769px) {
    :root{
        --font-max:18px;
        --border-site: 2em;
    }
    a {
        font-size: 12px;
    }
    h1{
        font-size: 18px;
    }
    h4,h3{
        font-size: 12px;
    }
    #cover > img{
        width: 110px;
        height: 110px;
    }
    #cover > ul > li{
        width: 16px;
        height: 16px;
    }
    #more > div > img{
        visibility: hidden;
    }
    #more > div{
        margin-left: 1em;
    }
    #more{
        min-height: 100vh;
    }
    #topbar button{
        margin-right: var(--border-site);
        padding: 8px;
        font-size: 8px;
        color: white;
        background-color: black;
        border-style: none;
        border-radius: 1em;
        font-weight: bold;
    }
    #portifolio{
        min-height: 100vh;
    }
    #portifolio > h1{
        margin: var(--border-site) 0 0 1em;
    }
    #portifolio > h4{
        margin: 2em 2em var(--border-site) 2em;
        font-weight: lighter;
        white-space: pre-line;
    }
    #image-list li > a > img{
        width: 80vw;
    }
    #image-list li > a > div{
        background-color: black;
        border-radius: 1em;
        display: flex;
        align-items: center;
        height: 7em;
    }
    #botton > div {
        font-size: 12px;
        margin: 0;
    }
    #image-list{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 1em 0 1em 0;
        list-style: none;
    }
    #portifolio button {
        visibility: hidden;
    }
    #portifolio div{
        border-top: #BBB 2px solid;
        padding: 0 30px 0 30px;
    }
    #readme-content > div img {
        flex: 1;
        /* width: 100%; */
        height: auto;
    }
    #readme-content > div > a > img {
        flex: 1;
        width: 100%;
        height: auto;
    }
    
    #readme-content > div{
        display: flex;
        align-items: center;
        margin-right: 1em;
    }
    #gitPainel{
        margin: 0;
        padding: 0;
        height: 0;
        visibility: hidden;
    }
    #readme-content p{
        font-size: 14px;
    }
}
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
}
section{
    padding-top: 2em;
}
a {
    text-decoration: none;
    color: black;
}
h1,h2,h3,h4,h5{
    margin: 0;
}
#topbar{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    align-items: end;
    height: var(--border-site);
}
#topbar > ul{
    padding: 0;
    margin: 0 0 0 var(--border-site);
    list-style-type: none;
    display: flex;
}
#topbar > ul > li > a{
    padding: 0 1em 0 1em;
    height: var(--border-site);
    font-weight: bold;
    display: flex;
    align-items: center;
}
#topbar > ul > li:hover{
    border-bottom: black 2px solid;
}
#topbar button:active{
    background-color: grey;
}
#cover{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#cover > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
#cover > ul > li {
    margin: 0.5em;
}
#cover > h4 {
    font-weight: lighter;
}
#cover > h1 {
    font-weight: bold;
    font-size: var(--font-max);
}
#more h3{
    white-space: pre-line;
    font-weight: lighter;
}
#more > div > img{
    margin-right: 2em;
}
#more > div > div {
    display: flex;
    flex-direction: column;
}
#more > div > div > img{
    width: 50%;
}
#more > div > div > ul{
    margin: 1em 0 1em 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}
#botton{
    background-color: black;
    color: #fff;
    padding: 1em;
}
#botton > div{
    display: flex;
    align-items: center;
}
